{% extends 'base.html.twig' %}

{% block body %}
    <form id="selection">
        <input type="text" placeholder="email joueur 1"/>
        <input type="text" placeholder="email joueur 2"/>
        <input type="text" placeholder="email joueur 3"/>
        <input type="text" placeholder="email joueur 4"/>
        <input type="submit" placeholder="validez"/>
    </form>
    <button>JOUEZ</button>

{% endblock %}

