{% extends 'base.html.twig' %}

{% block body %}
    <form id="selection" method="POST" action="{{path('addPlayers')}}">
        <input type="text" name="j1" placeholder="email joueur 1"/>
        <input type="text" name="j2" placeholder="email joueur 2"/>
        <input type="text" name="j3" placeholder="email joueur 3"/>
        <input type="text" name="j4" placeholder="email joueur 4"/>
        <input type="submit" placeholder="validez"/>
    </form>
    <button>JOUEZ</button>

{% endblock %}

